{% from "bootstrap/pagination.html" import render_pagination %}

{% extends "bootstrap/base.html" %}
{% block title %}This is an example page{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
</div>
{% endblock %}

{% block content %}

{{render_pagination(times)}}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>Elapsed Time</td>
            <td>Checkpoint</td>
            <td>User</td>
        </tr>
    </thead>
    <tbody>
    {% for t in times.items %}
        <tr>
            <td> {{ t.time - t.race.start_time }} </td>
            <td> {{ t.checkpoint.checkpoint_name }} </td>
            <td> {{ t.user.username }} </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
